@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans+JP&display=swap');

$theme-colors: (
  "primary": #6c63fe,
  "danger": #EA1B6B
);


@import "node_modules/bootstrap/scss/bootstrap";





.container-custom {
    margin-top: 12vh;
    margin-bottom: auto;
    
}

.login-custom-1 {
    padding: 5%;
    background-color: #F9FAFF;
}

body {
    background-color: #f9f9ff;
    font-family: 'Noto Sans JP', sans-serif;
}

h6 {
    font-family: 'Lato', sans-serif;
}
.row-shadow {
    box-shadow: -3px -3px 7px 1px rgba(145, 145, 145, 0.15), 3px 3px 7px 1px rgba(145, 145, 145, 0.15);
    
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-custom-2 {
    padding: 5%;
    background: #FFF;
}

/* img {
    height: auto;
    width: 100%;
    object-fit: cover;
} */

.carousel-indicators li {
        width: .8rem;
        height: .8rem;
        border-radius: 100%;
        background-color: #6c63fe;
        list-style: none;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        /* border: 2px solid #223422; */
    }

      .carousel-indicators {
        bottom: -4rem;
    }



html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.card-header {
    background-color:white;
    /* background-color:#f9f9ff; */
}


.card-custom{
    background-color: #f9f9ff;
}

.text-custom{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive;

}



 a.lab {
    position: relative;
    color: #EA1B6B;
    font-family: 'Noto Sans JP';
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
  }
  
  a.lab:hover {
    background: #EA1B6B;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #EA1B6B,
                0 0 25px #EA1B6B,
                // 0 0 50px #EA1B6B,
                // 0 0 100px #EA1B6B;
  }
  
  
  a.lab span {
    position: absolute;
    display: block;
  }
  
  a.lab span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #EA1B6B);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  a.lab span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #EA1B6B);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  a.lab span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #EA1B6B);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  a.lab span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #EA1B6B);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
    

/* .text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  } */
  /* h6{
        font-size:
        } */



